body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f172a;
  color: white;
}

section{
  min-height: 100vh;
  padding: 89px;
}

html{
  scroll-behavior: smooth;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: #020617;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  z-index: 1000;
}

.logo{
  font-size: 22px;
  font-weight: bold;
}

.nav-links{
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.nav-links a:hover {
  color: #38bdf8;
}

h2{
  font-size: 32px;
  margin-bottom: 20px;
}

section p{
  max-width: 800px;
  line-height: 1.7;
  margin-bottom: 16px;
}

.skills-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.skill-card{
  background-color: #020617;
  border: 1px solid #1e293b;
  padding: 16px;
  text-align: center;
  border-radius: 8px;
  font-size: 15px;
  transition: transform 0.2s ease, background-color o.2s ease;
}

.skills-card:hover{
  transform: translateY(-5px);
  background-color: #020617;
  border-color: #38bdf8;
}